/* ..............Body .................. */
.Content {
  display: flex;
}
.Body {
  padding-left: 23px;
  display: flex;
  flex-direction: column;
  width: 621px;
}
.BackButton {
  padding-left: 27px;
  width: 32px;
  height: 32px;
}
.DashBoardTitle {
  font-weight: 700;
  font-size: 56px;
  line-height: 67.2px;
  display: flex;
  align-items: center;
  padding-top: 43px;
  display: flex;
  text-align: center;
}
.DashParagraph {
  font-size: 18px;
  font-weight: 400px;
  line-height: 26px;
  padding-top: 62px;
  padding-bottom: 14px;
}
.DashBoardImage {
  width: 480px;
  height: 320px;
}

.JoinMembership {
  background-color: #dbebe4;
  width: 201px;
  height: 198px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.JoinMembershipText {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  color: black;
  width: 170px;
  height: 127px;
  top: 84px;
  left: 994px;
  gap: 0px;
  opacity: 0px;

  display: flex;
  align-items: center;
}
.Link {
  display: flex;
  width: 256px;
  text-decoration: none;
}
