.main {
  height: 100vh;
  overflow-y: auto; /* Scroll within the navigation bar if content overflows */
  background-color: white;
  display: flex;
  justify-content: center;
}
.body {
  display: flex;
  justify-content: center;
  width: 60%;
  gap: 3rem;
}
.chatContainer {
  display: flex;
  flex-direction: column;
  border: 0.0625rem solid #b9c7d6;
  background-color: #dce3ea80;
  width: 100%;
  padding: 1rem;
  margin-left: 3.375rem;
  margin-bottom: 2.5rem;
  border-radius: 1.5rem;
  transform: translateY(0.1rem);
  overflow-y: scroll;
}
.chatContainer::-webkit-scrollbar {
  display: none;
}
.chatMessages {
  max-height: 18rem;
  height: 18rem;
  overflow-y: scroll;
  border: 0.0625rem solid #ccc;
  padding: 0.625rem;
  margin-bottom: 0.625rem;
  border-radius: 1.5rem;
}

.chatMessages::-webkit-scrollbar {
  display: none;
}
.chatInputForm {
  border: 0.0625rem solid #b9c7d6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 11rem;
  border-radius: 1rem;
  margin-top: 1.6875rem;

  background-color: #dce3ea80;
}

.chatInput {
  display: flex;
  justify-content: center;
  padding-left: 1.6875rem;
  width: 100%;
  height: 5rem;
  border-radius: 1rem;
  border: 0.0625rem solid #b9c7d6;
}
.IconContainer {
  background-color: #202e3d;
  color: white;
  width: 8rem;
  margin: 0.5rem;
  border-radius: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  :hover {
    filter: brightness(0.9);
  }

  button:active {
    transform: translateY(0.2rem);
  }
  cursor: pointer;
}
.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Connections {
  max-height: 26rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.0625rem solid #b9c7d6;
  background-color: #dce3ea80;
  width: 50%;
  padding: 1rem;
  margin-left: 3.375rem;
  margin-bottom: 2.5rem;
  border-radius: 1.5rem;

  transform: translateY(0.1rem);
  overflow-y: scroll;
}

.Connections::-webkit-scrollbar {
  display: none;
}

.ConnectionsTitle {
  font-size: 1.75rem;
  line-height: 2.0625rem;
  font-weight: 700;
  color: #202e3d;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 1rem;
  margin-left: 3.375rem;
}

.LinaSelectorActive {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  height: 5rem;
  background-color: #202e3d;
  color: white;
}
.ConnectionsIcons {
  height: 5rem;
  width: 5rem;
  border: 0.25rem solid #d9d9d9;
  border-radius: 100%;
  :hover {
    border-radius: 100%;
    background-color: rgba(209, 209, 209, 0.219);
    opacity: 70%;
    transition: background-color 0.3s ease;
    color: #202e3d;
  }
  button:active {
    transform: translateY(0.2rem);
  }
  cursor: pointer;
}
.messageSender {
  font-weight: bold;
  margin-bottom: 0.31em;
  background-color: #b9c7d6;
  color: #202e3d;
  font-weight: bold;
}
.messageTimestamp {
  display: flex;
  justify-content: end;
}
/* .............................................. */

.clearChatBtn {
  display: flex;
  margin: 2.5em auto;

  :hover {
    filter: brightness(0.9);
  }
  button:active {
    transform: translateY(0.1rem);
  }
}

/* .ConnectionImageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
} */

/* 
.ConnectionsTitle2 {
  font-size: 1.75rem;
  line-height: 2.0625rem;
  font-weight: 700;
  color: #202e3d;
  width: 100%;
  display: flex;
  margin-left: 3.375rem;
}

.ConnectionsIcons {
  width: 3.75rem;
  height: 3.75rem;
  border: 0.25rem solid #d9d9d9;
  border-radius: 100%;
  :hover {
    border-radius: 100%;
    background-color: rgba(209, 209, 209, 0.219);
    opacity: 70%;
    transition: background-color 0.3s ease;
  }
}

.ConnectionsIcons1 {
  position: relative;
  right: 1rem;
  width: 3.75rem;
  height: 3.75rem;
  border: 0.25rem solid #d9d9d9;
  border-radius: 100%;
  :hover {
    border-radius: 100%;
    background-color: rgba(209, 209, 209, 0.219);
    opacity: 70%;
    transition: background-color 0.3s ease;
  }
}
.ConnectionsIcons2 {
  position: relative;
  right: 2rem;
  width: 3.75rem;
  height: 3.75rem;
  border: 0.25rem solid #d9d9d9;
  border-radius: 100%;
  :hover {
    border-radius: 100%;
    background-color: rgba(209, 209, 209, 0.219);
    opacity: 70%;
    transition: background-color 0.3s ease;
  }
}

.ConnectionsIcons3 {
  position: relative;
  right: 3rem;
  width: 3.75rem;
  height: 3.75rem;
  border: 0.25rem solid #d9d9d9;
  border-radius: 100%;
  :hover {
    border-radius: 100%;
    background-color: rgba(209, 209, 209, 0.219);
    opacity: 70%;
    transition: background-color 0.3s ease;
  }
}
.ConnectionsIcons4 {
  position: relative;
  right: 4rem;
  width: 3.75rem;
  height: 3.75rem;
  border: 0.25rem solid #d9d9d9;
  border-radius: 100%;

  :hover {
    border-radius: 100%;
    background-color: rgba(209, 209, 209, 0.219);
    opacity: 70%;
    transition: background-color 0.3s ease;
  }
}
.ConnectionsIconsMore {
  background-color: #202e3d;
  color: white;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 5rem;
  width: 3.75rem;
  height: 3.75rem;
  border: 0.25rem solid #d9d9d9;
  border-radius: 100%;

  :hover {
    border-radius: 100%;
    background-color: rgba(209, 209, 209, 0.219);
    opacity: 70%;
    transition: background-color 0.3s ease;
  }
}

.Names {
  display: flex;
  align-items: center;
  margin: 0;
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
} */
