/* .main {
  display: flex;
  flex-direction: column;
} */
.Body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
}
.UserProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ImageBorder {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 10rem;
  height: 10rem;
  margin-bottom: 1rem;
  border-radius: 100%;
  background-color: #695c5c;
}
.UserImage {
  height: 10rem;
  width: 10.8rem;
  border-radius: 100%;
}

.content {
  display: flex;
  flex-direction: column;
}
.contentInterest {
  padding-right: 5rem;
  height: 5rem;
}

.UploadContent {
  display: flex;
  margin-top: 0.5rem;
}
.UploadButton {
  width: 100%;
  color: #202e3d;
  height: 3.188rem;
  line-height: 1.875rem;
  font-size: 1.375rem;
  font-weight: 400;
  border-radius: 1rem;
  border: 0.0625rem solid #b9c7d6;
  cursor: pointer;
}
.BlueButtonLink {
  display: flex;
  width: 46rem;
  align-items: center;
  justify-content: center;
  text-decoration-line: none;
}

.nextButton {
  display: flex;
  width: 5rem;
  height: 4rem;
  justify-content: space-between;
}
.numberOfActivities {
  width: 50%;
  display: flex;
  gap: 2.2rem;
}
/* @media screen and(min-width:450px) {
  .nextButton {
    width: 10rem;
  }
} */
.CheckBox {
  display: flex;
  gap: 1rem;
}

.CheckBoxTitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  padding-left: 2px;
  padding-bottom: 6px;
  align-items: center;
  color: #695c5c;
}

/* 
.Content {
  display: flex;
  justify-content: center;
}
.Body {
  display: flex;
  flex-direction: column;
  margin-left: 20rem;
  margin-top: 3rem;
  justify-content: center;
}
.BackButton {
  padding-left: 27px;
  width: 32px;
  height: 32px;
}

.StatusBar {
  padding-top: 28px;
  width: 10px;
}
.TextFields {
  padding-top: 28px;
  width: 621px;
}
*/
.CheckBoxContainer {
  display: flex;
  flex-direction: column;
}
.CheckBox {
  display: flex;
}

.CheckBoxTitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  padding-left: 2px;
  padding-bottom: 6px;
  align-items: center;
  color: #695c5c;
}
.SubmitBrows {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 5rem;
  margin: 1rem;
}
.submitButtonContainer {
  width: 16rem;
}

.Link {
  display: flex;
  width: 16rem;
}
.connectNetwork {
  border: 1rem solid #202e3d;
  color: #202e3d;
  width: 100%;
  height: 3.188rem;
  border-radius: 8px;
  border: none;
  margin: 2;
  line-height: 1.875rem;
  font-size: 1.375rem;
  font-weight: 400;
  cursor: pointer;
}
