.InputContainer {
  border: 0.0625rem solid #b9c7d6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44.625rem;
  height: 11rem;
  border-radius: 1rem;
  margin-top: 1.6875rem;
  margin-left: 1rem;
  background-color: #f8f9fb;
}
.FormContainer {
  display: flex;
  flex-direction: column;
}
.InputBox {
  width: 37.75rem;
  height: 5.75rem;
  border-radius: 1rem;
  border: 0.0625rem solid #b9c7d6;
}
.IconContainer {
  padding-left: 1.375rem;
}
