.header {
  background: #e0ede7;
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 142px;
  border-bottom: 2px solid #728fad;
}

.headerBox {
  display: flex;
  width: 65%;
  justify-content: space-between;
  align-items: center;
}

.navList {
  display: flex;
  justify-content: space-evenly;
  width: 65%;
}

.buttons {
  margin-right: 50px;
}

.link {
  text-decoration: none;
  color: #000000;
}
.clearButton {
  background: #e0ede7;
  border: none;
  color: #4f7398;
  width: 7.313rem;
  height: 3.188rem;
}

.main {
  background: #e0ede7;
  display: flex;
  align-items: center;
}

.heroTitle {
  margin: 0;
}
