/* change padding and margin to rem for responsive design once confirmed wit UX*/

.header {
  background: #e0ede7;
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 142px;
  border-bottom: 2px solid #728fad;
}

.headerBox {
  display: flex;
  width: 65%;
  justify-content: space-between;
  align-items: center;
}

.navList {
  display: flex;
  justify-content: space-evenly;
  width: 65%;
}

.buttons {
  margin-right: 50px;
}

.link {
  text-decoration: none;
  color: #000000;
}
.clearButton {
  background: #e0ede7;
  border: none;
  color: #4f7398;
  width: 7.313rem;
  height: 3.188rem;
}

/************************ Hero starts******************/
.main {
  background: #e0ede7;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px;
}

.hero {
  display: flex;
  flex-direction: column;
}

.heroTitle {
  margin: 0;
  font-size: 3.5rem;
}

.fuelPic {
  width: 27.25rem;
}

.UnderlinedButton {
  width: 17.313rem;
}

/* Next section--------------------- Services*/
.SectionOne {
  padding: 50px;
}

.SectionOneTitle {
  font-size: 3rem;
  text-align: center;
  margin-top: 0;
}
.SectionOneText {
  font-size: 1.5rem;
}

.ServiceOptions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8.33px;
}
/* Next section-- Wellness Challengee*/
.SectionTwo {
  padding: 50px;
}

.challenges {
  display: flex;
  justify-content: space-between;
}
.challenge {
  width: 31%;
}

/* Next section-- Trainer hub*/
.SectionThree {
  padding: 50px;
}

.SectionThreeSub {
  display: flex;
  justify-content: space-evenly;
}

/* Next section-- Feature Trainers*/

.SectionFour {
  padding: 50px;
}

.SectionFourSub {
  display: flex;
  justify-content: space-evenly;
}

/* Next section-- Live Session*/
.SectionFive {
  padding: 50px;
}

/* Next section-- Community*/
.SectionSeven {
  padding: 50px;
  display: flex;
  align-items: center;
}
