.GoogleButton {
  display: flex;
  width: 19.5rem;
  align-items: center;

  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 48px;
  padding: 0%;

  background-color: white;
  background-repeat: no-repeat;
  background-origin: content-box;
  padding-left: 11px;
  color: #695c5c;
}
.GoogleIcon {
  padding-right: 49px;
}

.link {
  text-decoration: none;
}
