.WelcomeBackContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 4rem;
}
/************************ WelcomeAccountImage ******************/

.WelcomeBackImage {
  width: 451px;
  height: 33.875rem;

  margin-right: 2.875rem;
  align-items: center;
  justify-content: center;
  display: flex;
}
.WelcomeBackImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.LOGO {
}
.CreateAccountImage {
  width: 28.1875rem;
  padding-top: 8.375rem;
}
/************************ SigupContainer ******************/
.SignUpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20.5rem;
}

/************************ Title ******************/

.SignUpTitle {
  display: flex;
  align-items: center;

  font-size: 37px;
  font-weight: 400;
  line-height: 52px;
  /* margin: 0; */
  margin-top: 0.2rem;
  margin-bottom: 2.9375rem;
}
/************************ WavingHandImage ******************/
.WavingHandImage {
  display: flex;
  align-items: center;
  width: 52px;
  height: 52px;
}
/************************ TextFieldContainer ******************/
.TextFieldContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/************************ OrWithContainer ******************/
.EyePassewordContainer {
  display: flex;
  flex-direction: row;
}
/************************ EyePassewordContainer ******************/

/************************ LogIn ******************/
.LogIn {
  margin-bottom: 28px;
}
.link {
  text-decoration-line: none;
}

/************************ LoginContainer ******************/
.LoginContainer {
  display: flex;
  align-items: center;
  margin: 0;
}
.NoAccount {
  margin: 0;
}
/************************ LogInLink ******************/
.LogInLink {
  padding-left: 21px;
  text-decoration-style: none;
}
