.check {
  display: flex;
  align-items: center;
}
.text {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  padding-left: 2px;
  padding-bottom: 6px;
  align-items: center;
  color: #695c5c;
}

.label {
  margin-right: 0.5rem;
  font-size: 1rem;
  color: var(--text-primary-color);
}

.input {
  accent-color: var(--cta-primary-color);
}
