.content {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  width: 49.813rem;
}

.container {
  display: flex;
  flex-direction: column;

  background-color: #dce3ea80;
  width: 100%;
  padding: 4rem;
  margin-top: 2.5rem;
  margin-left: 3.375rem;
  /* margin-right: 6.75rem; */
  margin-bottom: 0.625rem;

  border-radius: 24px;
}

.post {
  background-color: white;
  margin-bottom: 4rem;
  border-radius: 24px;
  padding: 1.5rem;
}

.user {
  width: 50px;
  height: 48px;
  border-radius: 100%;
}

.textarea {
  border-radius: 16px;
  height: 10rem;
  margin-left: 3.375rem;
  /* margin-right: 6.75rem; */
  margin-bottom: 0.625rem;
}

/* .like {
    back
} */
