.LeftNavigation {
  display: flex;
  background-color: #202e3d;
}
.Questionnaire {
  width: 18rem;
  color: #ffffff;
}
/* ..............userprofile .................. */
.Navigation {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 20px;
}
.UserProfile {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.UserImage {
  width: 50px;
  height: 48px;
  margin-right: 1rem;
  border-radius: 100%;
  background-color: #ffffff;
}
.UserName {
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 700;
  padding-left: 6px;
}
/* ..............Services .................. */
.Services {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}
.ServicesImage {
  width: 40px;
  /* height: 19.11px; */
}

.navLink {
  text-decoration: none;
}
.ServicesTitles {
  padding-left: 28.26px;
  padding-bottom: 16px;
  color: white;
}
.Community {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}

.Testimonial {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}

.Trainers {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}
/* ....................Subscription......... */
.Subscription {
  /* padding-left: 8px; */
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 20px;
}
.Rewards {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}

.Settings {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}

.FAQ {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}
.FAQ {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}

.SignOut {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}

.Logo {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
  width: 00px;
}
