.LeftNavigation {
  display: flex;
  background-color: #202e3d;

  position: fixed; /* Fix the navigation bar to the side */
  top: 0;
  left: 0;
  width: 15rem; /* Adjust the width as needed */
  height: 100vh; /* Full height to cover from top to bottom */

  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
  overflow-y: auto; /* Scroll within the navigation bar if content overflows */
  z-index: 1000;
}
.LeftNavigation::-webkit-scrollbar {
  display: none;
}
.Container {
  width: 15rem;
  color: #ffffff;
}

.Links {
  text-decoration-line: none;
}

.Navigation {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 20px;
}

.Navigation2 {
  display: flex;
  flex-direction: column;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  padding-left: 20px;
}
.UserProfile {
  display: flex;
  align-items: center;
  margin-top: 10px;
  display: flex;
}
.UserImage {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  border-radius: 100%;
  /* background-color: #ffffff; */
}
.UserName {
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 700;
  padding-left: 0.375rem;
  width: 10rem;
}

.ServicesContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.ServicesContainerNetwork {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.ServicesTitles {
  color: white;
  font-weight: 600;
  font-size: 1.25rem;
}
.ServicesImage {
  width: 3.125rem;
}
.ServicesImageNetwork {
  width: 2.2rem;
  padding-left: 0.5rem;
}

.ServicesTitles {
  color: white;
}
.navLink {
  text-decoration-line: none;
  :hover {
    background-color: #3f5c7a;
    border-radius: 1rem;
  }
}
.LogoContainer {
  margin-bottom: 2rem;
}
.Logo {
  display: flex;
  justify-content: center;
  width: 10rem;
  margin: 0.8rem;
  padding-left: 0.5rem;
}
