.LeftNavigation {
  display: flex;
  background-color: #202e3d;
  height: 100%;
}
.Questionnaire {
  width: 18rem;
  color: #ffffff;
  gap: 6.25rem;
}

.Links {
  text-decoration-line: none;
}

.Navigation {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 20px;
}

.Navigation2 {
  display: flex;
  flex-direction: column;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  padding-left: 20px;
}
.UserProfile {
  display: flex;
  align-items: center;
  margin-top: 10px;
  display: flex;
}
.UserImage {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  border-radius: 100%;
  background-color: #ffffff;
}
.UserName {
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 700;
  padding-left: 0.375rem;
  width: 10rem;
}

.ServicesContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.ServicesContainerNetwork {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.ServicesTitles {
  color: white;
  font-weight: 600;
  font-size: 1.25rem;
}
.ServicesImage {
  width: 3.125rem;
}
.ServicesImageNetwork {
  width: 2.2rem;
  padding-left: 0.5rem;
}

.ServicesTitles {
  color: white;
}
.navLink {
  text-decoration-line: none;
  :hover {
    background-color: #3f5c7a;
    border-radius: 1rem;
  }
}
.LogoContainer {
  margin-bottom: 2rem;
}
.Logo {
  display: flex;
  justify-content: center;
  width: 10rem;
  margin: 0.8rem;
  padding-left: 0.5rem;
}

/* ................................................. */
/* .Services {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}

.ServicesImage {
  width: 40px;
  /* height: 19.11px; */

/* .navLink {
  text-decoration: none;
}

.Community {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}

.Testimonial {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}

.Trainers {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
} */

/* ....................Subscription......... */
/*.Subscription {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 20px;
 }
 .Rewards {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}

.Settings {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
} */

/* .FAQ {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}
.FAQ {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}

.SignOut {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}

 */
