.Content {
  display: flex;
  justify-content: center;
}
.Body {
  display: flex;
  flex-direction: column;
  margin-left: 20rem;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
}
.BackButton {
  padding-left: 27px;
  width: 32px;
  height: 32px;
}
.QuestionnaireTitle {
  font-weight: 700;
  font-size: 56px;
  line-height: 67.2px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}
.StatusBar {
  padding-top: 28px;
  width: 10px;
}
.TextFields {
  padding-top: 28px;
  width: 621px;
}
.CheckBoxContainer {
  display: flex;
  flex-direction: column;
}
.CheckBox {
  display: flex;
}

.CheckBoxTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  padding-left: 2px;
  padding-bottom: 6px;
  align-items: center;
  color: #695c5c;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.BlueButton {
  display: flex;
  /* align-content: center; */
  justify-content: center;
  width: 621px;
}

.Link {
  display: flex;
  width: 256px;
}
