.button {
  background-color: transparent;
  border: 1px solid #fbdef5;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 1.5rem;
  margin-right: 1rem;
  /* :hover {
    box-shadow: -10px 4px 114px -24px rgba(0, 0, 0, 0.87) inset;
  } */
}

.buttonIcon {
  padding-left: 0.75rem;
}
